
body {
    background-color: #ddc5ae; 
    color: #000000;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
    font-size: 45px; 
    margin-top: 0;
  }
  
  #todo-container {
    margin-top: 20px;
  }
  
  form {
    display: flex;
    align-items: center;
    color: #300a0a;
  }
  
  input[type="text"] {
    padding: 18px;
    width: 480px; 
  }
  
  button {
    padding: 5px 10px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  
  li.task-item {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }
  
  .task-checkbox {
    margin-right: 10px;
  }
  
  li.completed {
    text-decoration: line-through;
    opacity: 0.7;
  }


  
