<!DOCTYPE html>
<html>
<head>
  <title>To-Do List</title>
  <link rel="stylesheet" type="text/css" href="C:\FLASK TO DO\Static\styles.css">
</head>
<body>
  <div id="todo-container">
    <h1>TO DO LIST </h1>
    <form action="/" method="POST">
      <input type="text" name="task" placeholder="Agregar tarea" required>
      <button type="submit">Agregar</button>
    </form>
    <ul id="task-list">
      {% for task in tasks %}       
      <li class="task-item">
        <input type="checkbox" class="task-checkbox">
        <span>{{ task }}</span>
      </li>
      {% endfor %}
    </ul>
  </div>

  
</body>
</html>
